aiohttp==0.21.6
astroid==1.4.6
chardet==2.3.0
click==6.6
colorama==0.3.7
emoji==0.3.9
Flask==0.11
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.2.2
lxml==3.6.0
MarkupSafe==0.23
-e git://github.com/RoryQ/mondo-python.git@69b595d983b3e9bedac1ebd8cd14393499d9ca80#egg=mondo_python
pep8==1.7.0
pkg-resources==0.0.0
psycopg2==2.6.1
pylint==1.5.6
python-dateutil==2.5.2
requests==2.9.1
six==1.10.0
SQLAlchemy==1.0.13
Werkzeug==0.11.10
wrapt==1.10.8
